@import '../styles/vars.sass'

.helpful
    display: grid
    gap: 15px
    grid-template-areas: "first second third" "first fourth fourth"
    // TODO
    &:nth-child(2)
        background-color: $purple-secondary
    &__bottom
        display: flex
        justify-content: end
