@import '../styles/vars.sass'

.helpful-block
    &__text
        font-family: 'Roboto'
        font-style: normal
        font-weight: 300
        font-size: 36px
        line-height: 100%
        color: $white
        position: absolute
        width: 208px
        padding: 29px 28px
        border-radius: 18px
        background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%)
    &__image
        border-radius: 18px
    .first
        grid-area: first
        width: 263px
        height: 457px
    .second
        grid-area: second
    .third
        grid-area: third
    .fourth
        grid-area: fourth
    .second,.third
        width: 263px
        height: 263px
